#root {
    height: 100vh;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}



.block {
    display: flex;
    z-index: 4;
    margin-top: 1vw;
}

.navHidden {
    display: none;
}

.section1 {
    width: 100%;
    display: flex;

}

.logo {
    height: 15vh;
    width: 20%;

}

.background {
    z-index: 2;
    width: 100vw;
    height: 30vh;
    background-color: #ececfa;
}

.section2 {
    width: 68vw;
    /* display: inline-block; */
}

.profileIcon {
    height: 4.5vh;
}


.nav {
    width: 100%;
    height: 2%;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menuitem {
    margin-top: 1vh;
    padding: 3% 3% 3% 3%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.58);
    color: white;
    font-family: 'Lobster Two';
    font-size: 1.5vw;
    box-shadow: 10px 25px 20px rgba(0, 0, 0, 0.171);
}

.menuitem:hover {
    background-color: #1d955185;
    box-shadow: none;
    cursor: pointer;
}

.productsPara {
    display: flex;
    justify-content: end;
    margin: 20px;
}

.productsPara input {
    width: 100%;
}

.slider {
    background-color: #ececfa;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.slide1 {
    display: flex;
    padding: 500px 0px 0px 0px;
}

.slide1 img {
    width: 33vw;
    height: 38vh;
    display: inline-block;
}

h3 {
    font-size: 40px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 150px 0;
    margin: 0px auto;
    font-family: sans-serif;
    margin: 0 50px;
}

.productsPara {
    padding: 10px;
}

.productsPara input {
    width: 23vw;
    padding: 11px;
    border: 1px ridge #d5d5e6;
}

.productsPara input [placeholder] {
    padding-left: 1%;
}

.productsPara button {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}

.products {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgba(128, 128, 128, 0.162);
}

.product-title {
    text-align: center;
    font-size: 22px;
}

.detail {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.products h3 {
    padding-top: 5vh;
    color: #04bfbf;
}

.product-body {
    font-weight: 100;
    font-size: 1vw;
    padding-left: 3%;
    font-style: italic;
}

.product-brand .product-category {
    font-weight: 100;
    font-size: large;
    padding-left: 3%;
}

.product-discountPercentage .product-price {
    font-weight: bolder;
    padding-left: 3%;
}

.button {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.mainContainer button {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #04bfbf;
    color: white;
    font-weight: 200;
}

.articlesInfo {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}

.productImages img {
    width: 250px;
    height: 30vh;
    margin: 0 auto;

}

@media screen and (min-width: 1280px) {

    .menuitem {
        font-size: 1.5vw;
    }

    .products {
        padding: 2rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 2fr);
    }
}


@media screen and (max-width: 640px) {

    .logo {
        position: fixed;
        width: 12vw;
        height: 8vh;
        margin: 20px;
        left: 30px;
    }

    .navHidden {
        display: inline-block;
    }

    button img {
        width: 40px;
        height: 30px;
        padding: 0px;
        position: fixed;
        right: 30px;
    }

    .navIcon {
        margin: 0px 430px;
        cursor: pointer;
    }

    .navHiddenLink a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .navHiddenLink {
        width: 70%;
        margin-top: 10px;
        background-color: rgba(81, 80, 80, 0.614);
        position: fixed;
        top: 30px;
        left: 100px;
    }

    .navHiddenLink a {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .navHiddenLink a:hover {
        background-color: #1d955185;
    }

    .section2 {
        display: none;
    }

    .mainContainer {
        margin-top: 100px;
    }

    .products {
        padding: 2rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}