#root {
    height: 100vh;
    width: 100%;
}

.editContainer {
    margin-left: 100px;
    margin-right: 100px;
    padding: 2rem 0rem;
}

h2 {
    text-align: center;
}

.product-card {
    background-color: rgb(230, 230, 218);
    width: 100%;
    display: flex;
    justify-content: center;
}

.editForm {
    align-self: center;
    width: 50%;
    padding: 40px;
}

.editMainLeft img {
    width: 100%;
}

.productInfo {
    width: 100%;
    margin-top: 25px;
}

.productInfo label .formArticles label {
    color: white;
}


.productInfo input,
.productInfo textarea {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 0.5rem;
}

.productInfo textarea {
    height: 100px;
}


.edit-submit button {
    background-color: #04bfbf;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 640px) {
    .product-card {
        background-color: rgb(230, 230, 218);
        width: 100%;
    }

    .editForm {
        align-self: center;
        width: 100%;
    }

}